@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto+Mono&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 9fr 0.8fr;
}

.main-container .header {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: #45474B;
}

.main-container .header .header-logo {
    justify-self: start;
    padding-left: 20px;
}

.main-container .header .navbar-links {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    gap: 75px;
}

.main-container .header .navbar-links a {
    text-decoration: none;
}

.main-container .header .navbar-links a,
.main-container .header .header-logo h2,
.main-container .content-container .second-col .top-row a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

.main-container .header .navbar-links a {
    font-weight: 600;
}

.main-container .footer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
    color: white;
    background-color: #45474B;
}

.main-container .content-container { 
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 5fr);
    background-color: white;
    margin-top: 5px;
    gap: 5px;
}

.main-container .content-container div { 
    background-color: red;
}

.main-container .content-container .first-col { 
    display: grid;
    padding: 20px;
    gap: 50px;
    grid-template-columns: minmax(200px, 1fr);
}

.main-container .content-container .first-col div { 
    display: grid;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.main-container .content-container .first-col .image-row { 
    border-radius: 10px;
}

.main-container .content-container .second-col { 
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 5px;
    background-color: white;
}

.main-container .content-container .second-col .top-row { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.main-container .content-container .second-col .top-row a { 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.main-container .content-container .second-col .bottom-row { 
    display: grid;
    background-color: lightsteelblue;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    padding: 20px;
    gap: 15px;
    align-items: center;
}

.main-container .content-container .second-col .bottom-row div { 
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
}

.main-container .content-container .second-col .bottom-row div div { 
    height: 200px;
}

